{% extends 'inicio.html' %}
{% load static %}

{% block title %}
HISTORIAL
{% endblock %}

{% block sub %}
DECORACIONES </br> BUFFET
{% endblock %}

{% block content %}
<h3>HISTORIAL: CATALOGO</h3>
<div style ="background-color: rgb(255, 115, 0)">
{% for history in History %}
  <p>{{ history.history_date }} - {{ history.history_object }} - {{ history.history_type }} - {{ history.get_history_type_display }}</p>
  <form method="post" action="{% url 'usuario:deshacer_cambio' history.history_id %}">
      {% csrf_token %}
      <button type="submit">Deshacer</button>
  </form>
{% endfor %}
</div>
{% endblock %}