{% extends 'inicio.html' %}
{% load static %}
{% block  title%}
CONOCER
{% endblock  %}
{% block sub %}
PROFORMA </br> 
{% endblock%}
{% block content %}
<div>
    <h3 style=" background-color: rgb(255, 115, 0);text-align: center;">BIENVENIDO {{user.username}}</h3>
    <h3 style="text-align: center; color:white;background-color:rgba(255, 204, 162, 0.699);">T-U  L-I-S-T-A</h3>
    <h4 style="background-color: rgb(255, 115, 0);text-align: center; color:white;">TOTAL: S/.{{total}}</h4>
    <div id="lista">
        {% for producto in productos %}
            <div id="articulos">
                <p id="nombre">{{producto.nombre}} : {{producto.cantidad}}</p>
                <img src= {{producto.rutaI}} alt="{{producto.nombre}}">
                <p id="precio">{{ producto.precio }}<a href="/Usuario/Borrar/{{producto.id}}/"><i class="fas fa-trash-alt"></i></a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock  %} 